<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="ca.cmetcalfe.xposed.flatconnectivityicons">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Flat Connectivity Icons">

        <meta-data
            android:name="xposedmodule"
            android:value="true" />
        <meta-data
            android:name="xposeddescription"
            android:value="Display Lollipop-style flat connectivity icons in the statusbar" />
        <meta-data
            android:name="xposedminversion"
            android:value="36" />

    </application>

</manifest>
